<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--<nav class="navbar navbar-default navbar-fixed-bottom" th:fragment="footer">-->
    <!--<div class="container" style="text-align: center">-->
        <!--<h4>网易JavaWeb大作业</h4>-->
    <!--</div>-->
<!--</nav>-->
<footer class="navbar navbar-default navbar-fixed-bottom" th:fragment="footer">
<div class="container" >
    <p class="text-center" style="margin: 14px auto">网易JavaWeb大作业</p>
</div>
</footer>

</body>
</html>